<div class="container">
<h1>Questions answer</h1>
<!-- <form action="">
  <input type="text" placeholder="Enter question" name = "question">
  <input type="submit">
</form> -->
<p><%= @question  %></p>
<p> <em> -You </em></p>
<p><%= @answer  %></p>
<p> <em>-Your Coach</em></p>
<%= link_to 'Ask a new question', ask_path %>

</div>
